.header__lang-link {
  margin: 18px 0 6px 18px;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
