.places {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
  min-height: 3392px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90%;
    min-height: 3292px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 94%;
    padding-bottom: 90px;
    min-height: 2808px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    padding-bottom: 66px;
  }
}
