.cover {
  max-width: 1184px;
  max-height: 740;
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
}

.cover:after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(740/1184*100%);
}

.cover:hover .cover__hover-link {
  opacity: 0.8;
}
