.cover {
  max-width: 1184px;
  height: calc(100vw*0.6);
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.cover:hover .cover__hover-link {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: calc(100vw*0.6);
  }
}
