.places__place {
  display: grid;
  grid-template-columns: 0.96fr 1fr;
  grid-template-rows: fit-content(50%) 1fr;
  column-gap: 40px;
  row-gap: 48px;
  align-content: start;

  margin-bottom: 80px;
}

.places__place:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    column-gap: 32px;
    grid-template-rows: fit-content(50%) fit-content(440px);
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    column-gap: 28px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 600px) {
  .places__place {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 25px;
  }
}
