.places__place {
  display: grid;
  grid-template-columns: 0.96fr 1fr;
  grid-template-rows: fit-content(50%) 1fr;
  column-gap: 40px;
  row-gap: 48px;
  align-content: start;
  min-height: 581px;
}

@media screen and (max-width: 1024px) {
  .places__place {
    column-gap: 32px;
    grid-template-rows: fit-content(50%) fit-content(440px);
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 460px) {
  .places__place {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 50px;
  }
}
