.places__place {
  display: grid;
  grid-template-columns: 1fr fit-content(484px);
  grid-template-rows: fit-content(50%) fit-content(460px);
  column-gap: 40px;
  row-gap: 48px;
  align-content: start;
  min-height: 584px;
}

@media screen and (max-width: 1024px) {
  .places__place {
    column-gap: 32px;
    grid-template-columns: 1fr fit-content(456px);
    grid-template-rows: fit-content(50%) fit-content(440px);
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    column-gap: 28px;
    grid-template-columns: fit-content(340px) fit-content(352px);
    grid-template-rows: fit-content fit-content;
  }
}

@media screen and (max-width: 320px) {
  .places__place {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 50px;
  }
}
